swagger: "2.0"
info:
  description: "This is a sample definition of API created for the Lambdas Workshop "
  version: "1.0.0"
  title: "Consumer Info - Python"
  contact:
    name: "Jackson Coelho"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "lambdas-workshop.com"
basePath: "/v2"
tags:
- name: "consumer"
  description: "Everything about your Consumers"
schemes:
- "https"
- "http"
paths:
  /consumer:
    get:
      tags:
      - "consumer"
      summary: "Get the list of consumers"
      description: "Get the list of consumers"
      responses:
        200:
          description: "List of consumers successfully loaded"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Consumer"
    post:
      tags:
      - "consumer"
      summary: "Add a new consumer"
      description: ""
      operationId: "addConsumer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Consumer object that needs to be added"
        required: true
        schema:
          $ref: "#/definitions/Consumer"
      responses:
        405:
          description: "Invalid input"
        201:
          description: "Consumer created"
  /consumer/{cid}:
    get:
      tags:
      - "consumer"
      description: "Get the consumer data based on CID"
      summary: "Get consumer by CID"
      produces:
      - "application/json"
      parameters:
      - name: "cid"
        in: "path"
        description: "ID of consumer to return"
        required: true
        type: "string"
      responses:
        200:
         description: "Consumer returned successfully"
         schema:
            $ref: "#/definitions/Consumer"
    
    delete:
      tags:
      - "consumer"
      description: "Delete consumer from database"
      summary: "Delete consumer"
      parameters:
      - name: "cid"
        in: "path"
        description: "ID of consumer to delete"
        required: true
        type: "string"
      responses:
        204:
          description: "Consumer deleted successuflly"
              
definitions:
  Consumer:
    type: "object"
    required:
    - "cid"
    properties:
      cid:
        type: "string"
      pid:
        type: "string"
      known_your_customer:
        type: "boolean"
      is_blocked:
        type: "boolean"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"